
*{
    background-color: cornflowerblue;
}



header{
    color: rgb(170, 32, 147);
    text-align: center;
    padding-top: 100x;
    font-size: large;
}

form{ 
text-align: center;
padding-top: 50px;
}

div {
    border-radius: 5px;
    border: width 5px;
    border-color: black;
    background-color: white;
    border-style:solid;
    width: 300px;
    text-align: center;
    margin-top: 5px;
    padding: 10px;
}

p {
    background: white;
}

#app {
    border-color: red;
    background-color: brown;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
    
@media (min-width:600px){
    *{
        background-color:rgb(196, 165, 9);
    }

    #app {
        flex-direction: row;
    }

    div {
        width: 500px;
    }
}



